body{
	height:725px;
	width:800px;
	margin-left:auto;
    	margin-right:auto;
	margin-top:0;
}
.header{
	height: 50px;
	width: 800px;
	background-color:#FFA319;
	text-align:center;
	color:white;
}
.login{
	height: 25px;
	width: 800px;
	background-color:#4775FF;
	text-align:center;
	color:white;
	display: inline-block;
}
#leftlogin{
	float:left;
	padding-left:5px;
}
#rightlogin{
	float:right;
}
.body{
	height:600px;
	width:800px;
	margin: 0;
	padding: 0;
}
#leftpane{
	height: 617px;
	width:50px;
	background-color:#FFA319;
	float:left;
	margin: 0;
	padding: 0;
}
#content{
	height: 617px;
	width:700px;
	background-color:white;
	float:left;
	text-align:center;
	color:#4775FF;
	margin: 0;
	padding: 0;
}
#footer{
	height: 30px;
	width: 800px;
   	bottom:0;
   	background-color:#4775FF;
   	color:white;
	text-align:center;
}
#rightpane{
	height: 617px;
	width:50px;
	background-color:#FFA319;
	float:left;
	margin: 0;
	padding: 0;
}
#puppyimg{
	float:left;
	width:300px;
	padding:20px;
}
#aboutstatement{
	float:right;
	width:300px;
	padding:10px;
	padding-right:30px;
}
#buttons{
	text-align:center;
}
#error{
	color:yellow;
	padding:0;
	margin:0;
	padding-left:5px;
	padding-top:3px;
}
#hello{
	color:white;
	padding:0;
	margin:0;
	padding-right:5px;
	padding-top:3px;
}
a{
	color:yellow;
}
#adminbuttons{
	text-align:center;
}
#dogsApply{
	height:200px;
	width: 700px;
	text-align:center;
	float:center;
	overflow-y:scroll;
}
table{
    margin-left:auto; 
    margin-right:auto;
}
#viewdogs{
	overflow-y:scroll;
	height:535px;
}
#success{
	overflow-y:scroll;
	height:200px;
	width:700px;
}
#success,table{

}
